@import 'base-styles';

#app{
    flex-direction: row;
    justify-content: space-between;
}
/* Phone and tablet support*/
@media (max-width: 1000px) {
    #app{
        flex-direction: column;

        #classroom{
            order: 1;

            #peerList{
                display: none;
            }
        }
        #chat{
            order: 2;
        }
        #overview{
            order: 3;
            display: none;
        }
        
    }
    
}
//
.panel{
    display: flex;
    flex-direction:column;
    flex-grow: 1;
    height: 100%;
    padding: 16px 16px;
}
//
#classroom{
    flex-direction: row;
    justify-content: center;
    flex-grow: 10;
    
    .content{
        display:flex;
        flex-grow: 1;
        flex-direction:column;
        
        max-width: 1024px;
        height: 100%;
        #class-name {
            margin-bottom: 10px;
        }
        video{
            flex-grow: 1;
            max-height:576px;
            max-width: 100%;
        }
        .row{
            margin-bottom: 16px;
            
            .button{
                margin: 8px 8px;
                height: 24px;
                width: 128px;
                p{
                    line-height: 24px;
                    font-size: 16px;
                }
            }
            .button.text{
                flex-grow: 1;
            }
        }
      
    
        #peerList{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            overflow-y: auto;
            overflow-x: hidden;
            div{
                width: 48px;
                height: 48px;
                margin: 8px;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
        }
       
    }
}
//
#chat{
    display:flex;
    align-items: stretch;
    flex-grow: 2;
    #messageBoard{
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 16px 0px;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            background: #ddd;
            border-radius: 20px;
        }
        &::-webkit-scrollbar-thumb {
            background: #666;
            border-radius: 20px;
        }
        
        .messageContainer{
            display:flex;
            .username{
                color: $color-primary;
            }
        }        
    }

    #messageBox{
        max-width: none;
    }
    
}
// 
#overview{
    #viewerCount{
        display: flex;
        
        margin: 0 auto;
        padding: 16px;
        
        text-align: center;
        #userCount {
            color: $color-primary;
        }
    }

    #hostPeerList {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 10px;
        }
        &::-webkit-scrollbar-track {
            background: #ddd;
            border-radius: 20px;
        }
        &::-webkit-scrollbar-thumb {
            background: #666;
            border-radius: 20px;
        }
        .hostPeerListItem {
            position: relative;
            display: flex;
            flex-direction: row;

            height: 24px;

            margin-bottom: 8px;

            img{
                width: 24px;
                height: 24px;

                margin-right:8px;

                border-radius: 50%;
            }
            p{
                height: 24px;
                line-height: 24px;
            }
        }
    }
   
}