// ---- Global Variables ----
$color-primary: rgb(31, 190, 196);
$color-primary-dark: rgb(32, 162, 180);
$color-gray: rgb(80, 80, 80);
@mixin unselectable {
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

// ---- Global Styles ----
*{
    box-sizing: border-box;
}

// ---- Fonts ---- 
*{
    font-family: 'Sen', sans-serif;
}
h1,h2,h3,h4,h5{
    margin: 0;
    color:$color-gray;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 32px;
    font-weight: 600;
}
h3{
    font-size: 24px;
}
p{
    font-size: 16px;
    margin: 0;
}
// ---- ----

// Remove default body margin
body{
    margin: 0px;
}
// Force the application to fill entire screen
html,body,#app{
    height: 100%;
}

// ---- Element Style Overrides ---- 

hr{
    width: 100%;
}

input[type=text]{
    height: 32px;
    width: 100%;
    max-width: 256px;
    border-radius: 8px;
    border: 2px solid $color-gray;
    padding: 8px 16px;
    outline: none;
}
input[type=text]:hover,input[type=text]:focus{
    border-radius:16px;
    border: 2px solid $color-primary-dark;
    transition: all 0.1s;
}

.textField{
    width: 256px;
}

// -------- Common Classes --------
#app{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
// ---- LAYOUT ----
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

// ---- Button ----
*::-webkit-scrollbar {
    width: 10px;
}
*::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}
*::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

.button{
    width: 100%;
    max-width: 256px;
    height: 48px;
    background-color: $color-primary;
    border-radius: 8px;
    cursor: pointer;
    
    p{
        color: white;
        font-weight: bold;
        text-align: center;
        line-height: 48px;
        font-size: 24px;
        @include unselectable();
    }
}
.button:hover{
    background-color:$color-primary-dark;
    border-radius:16px;
    transition: all 0.1s;
}
// ---- Button with text ----
.button.text{
    background-color: white;
    display: flex;
    flex-direction: row;
    max-width: none;
    cursor: default;

    .highlight{
        height: 100%;
        padding: 0 8px;
        background-color: $color-primary;
        border-radius:8px 0 0 8px;
        cursor: pointer;
    }

    .content{
        border: solid 1px $color-gray;
        border-radius:0 8px 8px 0;
    }
}
// ---- Circular Image ----
img.circular {
    border-radius: 50%;
}
// Default Box Shadow ----
.shadow{
    box-shadow: 0 0 4px 0px rgba(0,0,0,0.32);
}

.rounded{
    border-radius: 8px;
}

.error{
    color: red;
}
.red{
    color: red;
}
.spreadContent{
    div{
        margin: 16px 0px;
    }
}

// -------- Application Specific --------
#useroverlay{
    position: absolute;
    display: flex;
    left: 8px;
    top: 8px;
    padding: 8px 16px;
    p{
        display: flex;
        align-items: center;
    }
    a{
        margin: 0px 8px;
        color: $color-primary;
    }
}