// ---- Global Variables ----
$color-primary: rgb(31, 190, 196);
$color-primary-dark: rgb(42, 76, 139);

@mixin unselectable {
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

// ---- Global Styles ----
*{
    box-sizing: border-box;
}

// ---- Fonts ---- 
*{
    font-family: 'Sen', sans-serif;
}
h1,h2,h3,h4,h5{
    margin: 0;
    @include unselectable();
}
h1{
    font-size: 48px;
}
h2{
    font-size: 32px;
    font-weight: 600;
}
h3{

}
p{
    margin: 0;
}

// ---- ----

// Remove default body margin
body{
    margin: 0px;
}
// Force the application to fill entire screen
html,body,#app{
    height: 100%;
}


// ---- Element Style Overrides ---- 
hr{
    width: 100%;
}

input[type=text]{
    height: 32px;
    border-radius: 8px;
    border: 1px solid black;
    padding: 8px 16px;
}

// ---- Common Classes ----
.button{
    width: 100%;
    max-width: 256px;
    height: 48px;
    background-color: $color-primary;
    border-radius: 8px;

    p{
        color: white;
        font-weight: bold;
        text-align: center;
        line-height: 48px;
        font-size: 24px;
        @include unselectable();
    }
}

.button:hover{
    background-color:$color-primary-dark;
    border-radius:16px;
    transition: all 0.1s;
}

img.circular {
    border-radius: 50%;
}
.shadow{
    box-shadow: 0 0 5px 0px rgba(0,0,0,0.75);
}
.container{

}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.error{
    color: red;
}

#app{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#setup{
    width: 512px;
    height: 512px;

    .setup-container{
        position: relative;
        width: 100%;
        height: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;

        padding: 32px;
        border-radius: 8px;
    }
}

#useroverlay{
    position: absolute;
    left: 8px;
    top: 8px;
}

