* {
  box-sizing: border-box;
}

* {
  font-family: "Sen", sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  color: #505050;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
  margin: 0;
}

body {
  margin: 0px;
}

html, body, #app {
  height: 100%;
}

hr {
  width: 100%;
}

input[type=text] {
  height: 32px;
  width: 100%;
  max-width: 256px;
  border-radius: 8px;
  border: 2px solid #505050;
  padding: 8px 16px;
  outline: none;
}

input[type=text]:hover, input[type=text]:focus {
  border-radius: 16px;
  border: 2px solid #20a2b4;
  transition: all 0.1s;
}

.textField {
  width: 256px;
}

#app {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

.button {
  width: 100%;
  max-width: 256px;
  height: 48px;
  background-color: #1fbec4;
  border-radius: 8px;
  cursor: pointer;
}
.button p {
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 48px;
  font-size: 24px;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

.button:hover {
  background-color: #20a2b4;
  border-radius: 16px;
  transition: all 0.1s;
}

.button.text {
  background-color: white;
  display: flex;
  flex-direction: row;
  max-width: none;
  cursor: default;
}
.button.text .highlight {
  height: 100%;
  padding: 0 8px;
  background-color: #1fbec4;
  border-radius: 8px 0 0 8px;
  cursor: pointer;
}
.button.text .content {
  border: solid 1px #505050;
  border-radius: 0 8px 8px 0;
}

img.circular {
  border-radius: 50%;
}

.shadow {
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.32);
}

.rounded {
  border-radius: 8px;
}

.error {
  color: red;
}

.red {
  color: red;
}

.spreadContent div {
  margin: 16px 0px;
}

#useroverlay {
  position: absolute;
  display: flex;
  left: 8px;
  top: 8px;
  padding: 8px 16px;
}
#useroverlay p {
  display: flex;
  align-items: center;
}
#useroverlay a {
  margin: 0px 8px;
  color: #1fbec4;
}

#app {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

/* Phone and tablet support*/
@media (max-width: 1000px) {
  #app {
    flex-direction: column;
  }
  #app #classroom {
    order: 1;
  }
  #app #classroom #peerList {
    display: none;
  }
  #app #chat {
    order: 2;
  }
  #app #overview {
    order: 3;
    display: none;
  }
}
.panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  padding: 16px 16px;
}

#classroom {
  flex-direction: row;
  justify-content: center;
  flex-grow: 10;
}
#classroom .content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: 1024px;
  height: 100%;
}
#classroom .content #class-name {
  margin-bottom: 10px;
}
#classroom .content video {
  max-height: 576px;
  max-width: 100%;
  flex-grow: 1;
}
#classroom .content .row {
  margin-bottom: 16px;
}
#classroom .content .row .button {
  margin: 8px 8px;
  height: 24px;
  width: 128px;
}
#classroom .content .row .button p {
  line-height: 24px;
  font-size: 16px;
}
#classroom .content .row .button.text {
  flex-grow: 1;
}
#classroom .content #peerList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
}
#classroom .content #peerList div {
  width: 48px;
  height: 48px;
  margin: 8px;
}
#classroom .content #peerList div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#chat {
  display: flex;
  align-items: stretch;
  flex-grow: 2;
}
#chat #messageBoard {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 16px 0px;
  scroll-behavior: smooth;
}
#chat #messageBoard .messageContainer {
  display: flex;
}
#chat #messageBoard .messageContainer .username {
  color: #1fbec4;
}
#chat #messageBox {
  max-width: none;
}

#overview #viewerCount {
  display: flex;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
}
#overview #viewerCount #userCount {
  color: #1fbec4;
}
#overview #hostPeerList {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  overflow-y: auto;
  scroll-behavior: smooth;
}
#overview #hostPeerList .hostPeerListItem {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 24px;
  margin-bottom: 8px;
}
#overview #hostPeerList .hostPeerListItem img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 50%;
}
#overview #hostPeerList .hostPeerListItem p {
  height: 24px;
  line-height: 24px;
}

/*# sourceMappingURL=app-styles.css.map */
